[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipywidgets = "*"
ipycanvas = "*"
orjson = "*"
jupyterlab-git = "*"
jupyterlab-lsp = "*"
python-lsp-server = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
